body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(224, 213, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}
.contact-form{
    background-color: rgb(156, 128, 182);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(145, 107, 181);
    width: 400px;
} 
.contact-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(34, 34, 189);

}
.form-group {
    margin-bottom: 10px;
    
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    color: rgb(34, 34, 189);
    font-weight: bold;

}
.form-group input [type="text"],
.form-group input [type="email"],
.form-group input [type="number"],
.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(134, 43, 218);
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.form-group textarea{
    resize: vertical;
    min-height: 100px;
}
button{
    background-color: rgb(108, 6, 202);
    color: aliceblue;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
button:hover{
    background-color: rgb(34, 34, 189);
}